//animations

@keyframes animate {
    0% {
      color: #031927;
    }
    25% {
      color: #508AA8;
    }
    50% {
      color: whitesmoke;
    }
    75% {
      color: #031927;
    }
    100% {
      color: #031927;
    }
}